*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header img{
    height:3.7rem;
}

header h1{
    font-size: 3rem;
    padding-left: 0.4rem;
    display: inline-block;
    vertical-align: text-bottom;
}
#header-logo{
    display: inline-block;
    padding-top: 1rem;
    padding-left: 1.5rem;

}
.header-conteiner{
    background-color: white;
    padding-bottom: 1.5rem;
}
body{
    background-color: lightgrey;
    
}

.main-conteiner{ 
    border-radius: 1.5rem;
    font-size: 1.2rem;
    background-color:white;
    margin-top: 3rem;
    margin-left: 7rem;
    margin-right: 50rem;
    padding-left: 4rem;
    padding-top: 0.5rem;
}

.button-conteiner{
    font-size: 0.9rem;
    margin-bottom: -1.5rem;
    margin-left: 1rem;
    padding-bottom: 2.5rem;
    padding-top: 0.8;
}

.button{
    font-style: italic;
    border: none;
    border-radius: 1rem;
    padding: 0.3rem;

}

#add-task{
    color: white;
    background-color:lightskyblue ;
}
#add-section{
    color: lightgray;
    background-color: white;
    border-bottom-color: lightgray;
}
div.separetor{
    margin-left: -5rem;
    height: 1rem;
    background-color: lightgray;
}

ul{
    list-style-type: none;
    padding-left: 0.7rem;
    padding-bottom: 1rem;

}
.button-edit{
    
}